<!DOCTYPE html>
<html><head>
	<title>OFDX</title>

	<?ofdx template layout/base/head.html>
</head><body>
	<h1><img class="img_pixelated" src="/floppy-1.png"> SomeNotes&trade;</h1>
	<p>When <i>one note</i> is not enough.</p>

	<!-- The desktop metaphor -->
	<div id=notes_desktop>
		<!-- A container for program shortcuts -->
		<div id=notes_apptray>

			<!-- FIXME debug -->
			<div class=notes_app_icon>
				<img class="img_pixelated" src="/floppy-1.png">
				<h3>List Manager</h3>
			</div>

			<div class=notes_app_icon>
				<img class="img_pixelated" src="/floppy-1.png">
				<h3>Text Editor</h3>
			</div>
		</div>
	</div>

	<?ofdx template layout/base/body_end.html>
</body></html>
